body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.5vw;
}
.navbar{
    background-color: black;
}
.barnav{
    margin-left: 2%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin-left: 12%;
}
.formclass{
    border: 2px solid black;
    border-radius: 16px;
    padding: 2%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #a3a3a3 10px ), repeating-linear-gradient( #00000055, #272727 );
}
.formclass h3, label{
    color: white;
    filter: drop-shadow(0px 1px 1px black);
}
.slot{
    width: 300px;
    height: 250px;
    background-color: rgba(255, 255, 255);
    border: black solid 4px;
    border-radius: 5%;
    margin-top: 100px;
}
.kor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: end;
    margin-left: -5%;
    margin-top: 6%;
    border: solid 2px black;
}
.slotrow1{
    display: flex;
    flex-wrap: nowrap;
}
.cim{
    border-radius: 0%;
    width: 240px;
    margin-left: 5%;
    margin-top: 6%;
    filter: drop-shadow(0px 1px 1px black);
}
.szerzo{
    margin-left: 5%;
    filter: drop-shadow(0px 1px 1px white);
    background-color: rgb(200, 200, 200);
    border-radius: 10%;
    width: 260px;
    text-align: center;
}
.kiadas{
    margin-left: 5%;
    filter: drop-shadow(0px 1px 1px black);
    background-color: rgb(200, 200, 200);
    border-radius: 10%;
    width: 260px;
    text-align: center;
}
.megjegyzes{
    margin-left: 5%;
    filter: drop-shadow(0px 1px 1px black);
    background-color: rgb(200, 200, 200);
    border-radius: 10%;
    width: 260px;
    text-align: center;
}
hr{
    border: 2px black solid;
}
.list-group{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255);
    border: black solid 4px;
    border-radius: 5%;
    margin-top: 100px;
}
nav{
    filter: drop-shadow(0px 4px 4px black);
    margin-bottom: 4%;
}
.containerform{
    display: flex;
    flex-wrap: wrap;
}
.panel{
    margin: 4%;
}
ul p{
    filter: drop-shadow(0px 2px 2px white);
}
.allcontainer{
    display: flex;
    flex-wrap: nowrap;
}